html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --max-width: 900px;
}

body {
    background: dimgray;
    font: 16px/1.6em sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: var(--max-width);

    padding: 10px 50px;
    background: #f8f8f8;
}

.main {
    display: flex;
    flex-direction: row-reverse;

    width: 100%;

    max-width: var(--max-width);
}

.content {
    display: flex;
    flex-direction: column;

    width: 75%;

    background-color: white;
}

.main-info {
    padding: 10px 30px ;
}

.contacts {
    display: flex;

    width: 100%;

    color: aliceblue;
    background: black;
}

.contacts-ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    width: 100%;

    padding: 0 50px;

    list-style-type: none;
}

pre {
    margin: 0;
}

h4 {
    padding-left: 20px;
}

.skill-side {
    display: flex;

    flex-direction: column;
    justify-content: space-between;

    width: 25%;

    padding: 45px 45px 70px;

    line-height: 2em;

    background-color: darkgray;
}

.skill-side-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 300px;
}

span {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: var(--max-width);

    padding: 10px 50px;
    background: #f8f8f8;
}

.github {
    display: flex;
    align-items: center;
}

footer .icon {
    margin-right: 10px;

    width: 27px;
    height: 27px;
}

footer a {
    text-decoration: none;
    color: black;
}

@media (max-width: 902px) {
    .main {
        flex-direction: column-reverse;
    }

    .content{
        width: 100%;
    }

    .skill-side {
        width: 100%;
    }
}

@media (max-width: 430px) {
    .header {
        flex-direction: column-reverse;
    }

    .contacts {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
    }
}

