html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: dimgray;
    font: 16px/1.6em sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 900px;

    padding: 10px 50px;
    background: #f8f8f8;
}

.main {
    display: flex;
    position: relative;
    flex-direction: column;

    width: 900px;

    background-color: white;
}

.main-info {
    width: 75%;
    padding: 10px 30px ;
}

.contacts {
    display: flex;

    width: 75%;
    margin-left: 10px;

    color: aliceblue;
    background: black;
}

.contacts-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;


    width: 100%;
    padding: 0 50px;

    list-style-type: none;
}

pre {
    margin: 0;
    background: #f8f8f8;
}

h4 {
    padding-left: 20px;
}

.skill-side {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;

    top: 0;
    right: 0;

    width: 25%;
    height: 100%;
    padding: 45px 45px 70px;

    line-height: 2em;

    background-color: darkgray;
}

.skill-side-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 300px;
}

span {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 900px;

    padding: 10px 50px;
    background: #f8f8f8;
}

.github {
    display: flex;
    align-items: center;
}

footer .icon {
    margin-right: 10px;

    width: 27px;
    height: 27px;
}

footer a {
    text-decoration: none;
    color: black;
}

