html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  background: dimgray;
  font: 16px/1.6em sans-serif;

  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --max-width: 900px;
}

h1, h2, h3, h4 {
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: var(--max-width);

  padding: 10px 50px;
  margin-top: 70px;
  background: #f8f8f8;
}

.main {
  display: flex;
  flex-direction: row-reverse;

  width: 100%;

  max-width: var(--max-width);
}

.content {
  display: flex;
  flex-direction: column;

  width: 75%;

  background-color: white;
}

.main-info {
  padding: 10px 30px;
}

.contacts {
  display: flex;

  width: 100%;

  color: aliceblue;
  background: black;
}

.contacts-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  width: 100%;

  padding: 0 50px;

  list-style-type: none;
}

pre {
  margin: 0;
}

h4 {
  padding-left: 20px;
}

.skill-side {
  display: flex;

  flex-direction: column;

  width: 25%;

  padding: 45px 45px 70px;

  line-height: 2em;

  background-color: darkgray;
}

.skill-side-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 300px;
}

span {
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: var(--max-width);

  padding: 10px 50px;
  background: #f8f8f8;
}

.github {
  display: flex;
  align-items: center;
}

footer .icon {
  margin-right: 10px;

  width: 27px;
  height: 27px;
}

.icon-code {
  margin-right: 20px;

  width: 80px;
  height: 80px;
}

footer a {
  text-decoration: none;
  color: black;
}

@media (max-width: 902px) {
  .main {
    flex-direction: column-reverse;
  }

  .content {
    width: 100%;
  }

  .skill-side {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .header {
    flex-direction: column-reverse;
  }

  .contacts {
    flex-direction: column;
  }

}

@media (max-width: 500px) {
  .footer {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
}

.nav {
  position: fixed;
  width: 100%;
  max-width: var(--max-width);
}

.nav:before {
  background: darkred;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 100;
}

.nav__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
}

.nav__body li {
  list-style: none;
  margin-right: 15px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  color: white;
}

.nav__link:hover {
  color: black;
}

.nav__menu {
  z-index: 110;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 850px) {
  body.lock {
    overflow: hidden;
  }

  .nav__hamburger {
    width: 32px;
    height: 32px;
    display: block;
    background: transparent;
    border: transparent;
    z-index: 1000;
  }

  .nav__hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    position: relative;
    -webkit-box-shadow: 0 2px 10px #00000030;
    box-shadow: 0 2px 10px #00000030;
  }

  .nav__hamburger span + span {
    margin-top: 7px;
  }

  .nav__hamburger span:nth-child(1) {
    -webkit-animation: ease 0.5s top-back forwards;
    animation: ease 0.5s top-back forwards;
  }

  .nav__hamburger span:nth-child(1) {
    -webkit-animation: ease 0.5s middle-back forwards;
    animation: ease 0.5s middle-back forwards;
  }

  .nav__hamburger span:nth-child(3) {
    -webkit-animation: ease 0.5s bottom-back forwards;
    animation: ease 0.5s bottom-back forwards;
  }

  .nav__menu {
    position: fixed;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
    background: darkred;
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
    overflow: auto;
  }

  .nav__list {
    display: block;
    padding-left: 15px;
    padding-top: 70px;
  }

  .nav__list li {
    margin-bottom: 15px;
  }

  .nav__list li a {
    font-size: 30px;
  }

  .active .nav__menu {
    left: 0;
  }

  .active .nav__hamburger span:nth-child(1) {
    -webkit-animation: ease 0.5s top forwards;
    animation: ease 0.5s top forwards;
  }

  .active .nav__hamburger span:nth-child(2) {
    -webkit-animation: ease 0.5s middle forwards;
    animation: ease 0.5s middle forwards;
  }

  .active .nav__hamburger span:nth-child(3) {
    -webkit-animation: ease 0.5s bottom forwards;
    animation: ease 0.5s bottom forwards;
  }
}

@-webkit-keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-webkit-keyframes top-back {
  0% {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes top-back {
  0% {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@-webkit-keyframes middle {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes middle {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes middle-back {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes middle-back {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    bottom: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    bottom: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    bottom: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    bottom: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

@-webkit-keyframes bottom-back {
  0% {
    bottom: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  50% {
    bottom: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes bottom-back {
  0% {
    bottom: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  50% {
    bottom: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.portfolio {
 padding-left: 35px;
}

.portfolio-figure {
  display: inline-block;

  height: 260px;
  width: 230px;

  box-shadow: 0 0 .3em black;
  transition: 0.2s;

  margin-right: 20px;
  margin-left: 20px;

}

.portfolio-figure:hover {
  transform: scale(1.1);
}

.portfolio-fig:hover {
  opacity: 100%;
}

.portfolio-img {
  object-fit: cover;
  height: 160px;
  width: 230px;
}

figcaption {
  text-align: center;
}

